{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
    <div>

        <p style="text-align: left">A ferramenta contém 4 funções princiapis: </p>

        <p style="text-align: left">Nuvem: cria uma nuvem de palavras com os tweets mais recentes de um usuario. Tambm mostra informações basicas do perfil.</p>

        <p style="text-align: left">Tweets: coloca os Tweets com dados de geolocalizacao de um usuario em um mapa.</p>

        <p style="text-align: left">Hashtags: coloca os tweets com dados de geolocalizacao em um mapa onde tais hashtags estao sendo utilizadas.</p>

        <p style="text-align: left">Trends Map: mostra os Trends nas capitais do país onde o recurso esta disponível</p>

        <p style="text-align: left">Para utilizar é necessário obter chaves para a API do Twitter</p>

    </div>
{% endblock %}
