{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}


        <div class="container" style="width:100%;">

            <div class="block2">

                <img class="index-img"src="static/map2.png"/>

            </div>
            <div class="block">

                <br>
                <p style="text-align: left">A ferramenta contém 4 funções principais: </p>

                <p style="text-align: left">Nuvem: cria uma nuvem de palavras com os tweets mais recentes de um usuário. Também mostra informações básicas sobre o perfil.</p>

                <p style="text-align: left">Tweets: coloca os tweets com dados de geolocalização mais recentes de um usuário em um mapa.</p>

                <p style="text-align: left">Hashtags: coloca os tweets que usam a hashtag e com dados de geolocalização em um mapa, mostrando onde a hashtag está sendo utilizada.</p>

                <p style="text-align: left">Trends Map: mostra os Trends nas capitais do país onde o recurso esta disponível</p>

                <p style="text-align: left">Para utilizar é necessário obter chaves para a API do Twitter</p>

            </div>


        </div>




{% endblock %}


